#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  /*....................... footer Style..................... */
  .footer_div{
    width: 100vw;
    height: 800px;
    background-color: black;
  }
  .heading_div{
    width: 200px;
    height: 80px;
    /* background-color: red; */
    display:inline-block;
    margin-top: 60px;
    margin-left: 103px;
    align-items: center;
  }
  .uber_text{
    color: white;
    font-size: 24px;
    margin-top: 15px;
    /* font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;   */
  }
  .visit_help_center_div{
    width: 130px;
    height: 61px;
    /* background-color: green; */
    margin-left: 103px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .visit_help_center{
    color: white;
  }
  .line{
    width: 121px;
    height: 1px;
    margin-top: 41px;  
    
  }
  .main_div{
    width: 83vw;
    height: 300px;
    /* background-color: green; */
    margin-left: 105px;
    display: flex;
    margin-bottom: 20px;
  }
  .div_1{
    width: 252px;
    height: 300px;
    /* background-color: brown; */
    margin-right: 30px;
  }
  .div_2{
    width: 252px;
    height: 300px;
    /* background-color: blue; */
    margin-right: 30px;
  }
  .div_3{
    width: 252px;
    height: 300px;
    /* background-color: brown; */
    margin-right: 30px;
  }
  .div_4{
    width: 252px;
    height: 300px;
    /* background-color: red; */
    margin-right: 30px;
  }
  .icon_div{
    width: 83vw;
    height: 50px;
    /* background-color: brown; */
    margin-left: 105px;
    margin-bottom: 15px;
    display: flex;
  }
  .image_div{
    width: 83vw;
    height: 80px;
    /* background-color: brown; */
    margin-left: 105px;
    display: flex;
  }

  .icon_1{
    width: 100px;
    height: 80px;
    /* background-color: red; */
    margin-right: 10px;
    
  }
  .icon_2{
    width: 120px;
    height: 80px;
    /* background-color: red; */
    margin-right: 10px;
    /* margin-left: 380px; */
  }

  .icon_1{
    width: 100px;
    height: 80px;
    /* background-color: red; */
    margin-right: 10px; 
  }
  .img_1{
    width: 135px;
    height: 80px;
    /* background-color: red; */
    margin-right: 10px;
    
  }
  
  
  #signup{
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 75px;
    font-size: 13px;
    margin: 20px;
    height: 25px;
    text-transform: unset !important;
  }
  #login{
    background-color: transparent !important; 
    text-transform: unset !important;
  }
  #products,
  #company-nav {
    margin: 20px;
    text-transform: unset !important;
  
  }